.skills-container {
  padding: 80px 20px;
  text-align: center;
  color: var(--text-color);
}

.skills-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--text-color);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 25px;
  max-width: 900px;
  margin: 0 auto;
}

.skill-card {
  background: var(--bg-card);
  padding: 25px 15px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid var(--border-card);
  transition: all 0.2s ease-in-out;
}

.skill-card:hover {
  background: var(--bg-card-hover);
  border: 1px solid var(--blue);

}

.skill-icon {
  font-size: 40px;
  margin-bottom: 12px;
  color: var(--text-color);
}

.skill-name {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
}

.light .github-icon {
  color: #181616 !important;
  /* لون GitHub الرسمي */
}

.skill-bar {
  width: 100%;
  height: 8px;
  background: var(--border-card);
  border-radius: 4px;
  margin-top: 10px;
  overflow: hidden;
}

.skill-bar-fill {
  height: 100%;
  background: var(--blue);
  transition: width 0.4s ease-in-out;
}

.skill-level {
  margin-top: 6px;
  font-size: 13px;
  color: var(--text-color);
  opacity: 0.85;
}

.skill-level {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
  opacity: 0.9;
}